<div class="form">
    <mat-form-field class="select-input">
      <mat-label>Torneio</mat-label>
      <mat-select>
        <mat-option value="one">CBA A</mat-option>
        <mat-option value="two">CBA AA</mat-option>
        <mat-option value="two">Inter Foxes</mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Data</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  
    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select>
        <mat-option value="one">Em andamento</mat-option>
        <mat-option value="two">Finalizado</mat-option>
      </mat-select>
    </mat-form-field>
  
    <div class="action-button">
      <button mat-fab color="primary" aria-label="Pesquisar">
        <mat-icon>search</mat-icon>
      </button>
    </div>
  </div>
  
  <!-- <game-card-adm *ngFor="let game of games" [game]="game"></game-card-adm> -->
  