<body *ngIf="game">
  <!-- Scoreboard with Logos -->
  <mat-card class="score-outside" appearance="outlined" style="max-height: 62%">
    <mat-card-header class="score-header">
      <div class="score-header">
        <div class="score-header-content">
          <mat-card-title>{{ game.tournament }}</mat-card-title>
          <app-game-indicator [status]="game.status"></app-game-indicator>
          <mat-card-subtitle style="color: black"><mat-icon aria-hidden="false" aria-label="Stadium Icon"
              fontIcon="stadium"></mat-icon>
            {{ game.location }}
          </mat-card-subtitle>
        </div>
        <div class="score-header-content-2">
          <button *ngIf="game.status" (click)="toggleField(game,'status')" class="statusButton"
            mat-raised-button>Finalizar Jogo</button>
          <button *ngIf="!game.status" (click)="toggleField(game,'status')" class="statusButton"
            mat-raised-button>Iniciar Jogo</button>
          <mat-card-subtitle style="color: black"><mat-icon aria-hidden="false" aria-label="Stadium Icon"
              fontIcon="schedule"></mat-icon>
            {{ game.startedTime }}
          </mat-card-subtitle>
        </div>
        <div>
          <mat-card-subtitle style="color: black"><mat-icon aria-hidden="false" aria-label="Date Icon"
              fontIcon="calendar_month"></mat-icon>
            {{ game.date }}
          </mat-card-subtitle>
        </div>
      </div>
    </mat-card-header>
    <mat-card-content class="score-card">
      <div class="scoreboard">
        <div class="team">
          <!-- <img src="foxes.jpeg" alt="Away Team Logo" class="team-logo" /> -->
          <app-animate-line *ngIf="game.status" [class.hide]="game.inningHalf" [width]="50"></app-animate-line>
          <h3 style="border-width: 2rem; margin: 0.5rem">
            {{ game.startOffense }}
          </h3>
          <div *ngIf="game.status" class="button-group">
            <button *ngIf="game" (click)="updateValue(game,'startOffenseScore',1,'subtract',0)" class="adm-button"
              mat-mini-fab color="primary" aria-label="remove">
              <mat-icon>remove</mat-icon>
            </button>
            <button *ngIf="game" (click)="updateValue(game,'startOffenseScore',1,'add',0)" class="adm-button"
              mat-mini-fab color="primary" aria-label="add">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div style="font-size: x-large; font-family: Orbitron" id="homeScore">
            {{ game.startOffenseScore }}
          </div>
        </div>
        <div class="inning">
          <button *ngIf="game.status" (click)="toggleField(game,'inningHalf')" class="adm-button" mat-mini-fab color="primary"
            aria-label="add">
            <mat-icon>refresh</mat-icon>
          </button>
          <div *ngIf="game.status" class="button-group">
            <button *ngIf="game" (click)="updateValue(game,'inning',1,'subtract',1)" class="adm-button" mat-mini-fab
              color="primary" aria-label="remove">
              <mat-icon>remove</mat-icon>
            </button>
            <button *ngIf="game" (click)="updateValue(game,'inning',1,'add',1)" class="adm-button" mat-mini-fab
              color="primary" aria-label="add">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div *ngIf="!game.inningHalf" class="arrow" id="inningArrow">▲</div>
          <div *ngIf="game.inningHalf" class="arrow" id="inningArrow">▼</div>
          <div class="number" id="inningNumber">{{ game.inning }}</div>
        </div>

        <div class="team">
          <!-- <img src="underdogs.jpg" alt="Home Team Logo" class="team-logo" /> -->
          <app-animate-line *ngIf="game.status" [class.hide]="!game.inningHalf" [width]="50"></app-animate-line>

          <h3 style="border-width: 2rem; margin: 0.5rem">
            {{ game.startDefense }}
          </h3>
          <div *ngIf="game.status" class="button-group">
            <button (click)="updateValue(game,'startDefenseScore',1,'subtract',0)" class="adm-button" mat-mini-fab
              color="primary" aria-label="remove">
              <mat-icon>remove</mat-icon>
            </button>
            <button *ngIf="game" (click)="updateValue(game,'startDefenseScore',1,'add',0)" class="adm-button"
              mat-mini-fab color="primary" aria-label="add">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div style="font-size: x-large; font-family: Orbitron" id="awayScore">
            {{ game.startDefenseScore }}
          </div>
        </div>
      </div>

      <!-- Baseball Diamond -->
      <div class="diamond">
        <div *ngIf="game" (click)="toggleField(game,'firstBaseRunner')"
          [ngClass]="game.firstBaseRunner ? 'active' : 'inactive'" class="base" id="first"></div>
        <div *ngIf="game" (click)="toggleField(game,'secondBaseRunner')"
          [ngClass]="game.secondBaseRunner ? 'active' : 'inactive'" class="base" id="second"></div>
        <div *ngIf="game" (click)="toggleField(game,'thirdBaseRunner')"
          [ngClass]="game.thirdBaseRunner ? 'active' : 'inactive'" class="base" id="third"></div>
      </div>

      <!-- At Bat Count -->
      <div class="tracker">
        <div>
          <h3>Balls</h3>
          <div *ngIf="game.status" class="button-group">
            <button (click)="updateValue(game,'balls',1,'subtract',0)" class="adm-button" mat-mini-fab color="primary"
              aria-label="remove">
              <mat-icon>remove</mat-icon>
            </button>
            <button (click)="updateValue(game,'balls',1,'add',0)" class="adm-button" mat-mini-fab color="primary"
              aria-label="add">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="count" id="balls">{{ game.balls }}</div>
        </div>
        <div>
          <h3>Strikes</h3>
          <div *ngIf="game.status" class="button-group">
            <button (click)="updateValue(game,'strikes',1,'subtract',0)" class="adm-button" mat-mini-fab color="primary"
              aria-label="add">
              <mat-icon>remove</mat-icon>
            </button>
            <button (click)="updateValue(game,'strikes',1,'add',0)" class="adm-button" mat-mini-fab color="primary"
              aria-label="remove">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="count" id="strikes">{{ game.strikes }}</div>
        </div>
        <div>
          <h3>Outs</h3>
          <div *ngIf="game.status" class="button-group">
            <button (click)="updateValue(game,'outs',1,'subtract',0)" class="adm-button" mat-mini-fab color="primary"
              aria-label="add">
              <mat-icon>remove</mat-icon>
            </button>
            <button (click)="updateValue(game,'outs',1,'add',0)" class="adm-button" mat-mini-fab color="primary"
              aria-label="add">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="count" id="outs">{{ game.outs }}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</body>