<body>
  <!-- Scoreboard with Logos -->

  <mat-card class="score-outside" appearance="outlined">
    <mat-card-content class="score-card">
      <div class="scoreboard">
        <div class="team">
          <img src="foxes.jpeg" alt="Away Team Logo" class="team-logo" />
          <h3> {{ game.homeTeam }} </h3>
          <div id="awayScore">{{ game.homeScore }}</div>
        </div>

        <div class="inning">
          <div class="arrow" id="inningArrow">▲</div>
          <div class="number" id="inningNumber">{{game.inning}}</div>
        </div>

        <div class="team">
          <img src="underdogs.jpg" alt="Home Team Logo" class="team-logo" />
          <h3>{{ game.awayTeam }}</h3>
          <div id="homeScore">{{ game.awayScore }}</div>
        </div>
      </div>

      <!-- Baseball Diamond -->
      <div class="diamond">
        <div [ngClass]="game.firstBaseRunner " class="base" id="first"></div>
        <div [ngClass]="game.secondBaseRunner ? 'active' : 'inactive' " class="base" id="second"></div>
        <div [ngClass]="game.thirdBaseRunner ? 'active' : 'inactive' " class="base" id="third"></div>
      </div>

      <!-- At Bat Count -->
      <div class="tracker">
        <div>
          <h3>Balls</h3>
          <div class="count" id="balls">{{balls}}</div>
        </div>
        <div>
          <h3>Strikes</h3>
          <div class="count" id="strikes">{{strikes}}</div>
        </div>
        <div>
          <h3>Outs</h3>
          <div class="count" id="outs">{{outs}}</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <script>

    // Set inning number and arrow (▲ for top, ▼ for bottom)
    document.getElementById("inningArrow").textContent = isTop ? "▲" : "▼";
  </script>
</body>
