@use "@angular/material" as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.form {
  @include mat.fab-overrides(
    (
      container-color: #424242,
      foreground-color: orange,
    )
  );
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-around;
  align-items: baseline; /* Alinha os campos com o botão */
  background-color: #ffcc80;
  padding: 1rem;
  border-radius: 1rem;
  margin: 2rem;
}

.action-button {
  flex: 0 0 auto;
}

.form mat-form-field {
  flex: 1 1 300px;
  min-width: 200px;
}

.select-input {
  color: orange;
}
